# Firefox Translations review group
.dockerignore @mozilla/firefox-translations
.github @mozilla/firefox-translations
.gitignore @mozilla/firefox-translations
.gitmodules @mozilla/firefox-translations
docker @mozilla/firefox-translations
docs @mozilla/firefox-translations
utils @mozilla/firefox-translations
CODE_OF_CONDUCT.md @mozilla/firefox-translations
LICENSE @mozilla/firefox-translations
poetry.lock @mozilla/firefox-translations
pyproject.toml @mozilla/firefox-translations
README.md @mozilla/firefox-translations
Taskfile.yml @mozilla/firefox-translations

# Translations Training review group
configs @mozilla/translations-training
pipeline @mozilla/translations-training
snakemake @mozilla/translations-training
tests @mozilla/translations-training
tracking @mozilla/translations-training

# Translations Inference review group
inference @mozilla/translations-inference

# Taskcluster pipeline related files. Changes to these ought to be reviewed by
# RelEng to watch for security issues and best practices. These should also
# be reviewed by people familiar with the pipeline itself.
.taskcluster.yml @mozilla/releng @mozilla/translations-training
taskcluster @mozilla/releng @mozilla/translations-training

