[submodule "fast_align"]
	path = fast_align
	url = https://github.com/clab/fast_align
[submodule "extract-lex"]
	path = extract-lex
	url = https://github.com/marian-nmt/extract-lex
[submodule "marian-dev"]
	path = marian-dev
	url = https://github.com/browsermt/marian-dev
