datasets:
  original: <dataset0> # Original parallel corpus

stages:
  - train

train:
  - original 1.0
  - until original inf # General training until marian early stops

modifiers:
- UpperCase: 0.05 # Apply randomly to 5% of sentences
- TitleCase: 0.05
- Typos: 0.05
# TODO: enable tags, currently doesn't work because of the issue with  tokenization
# TODO: https://github.com/hplt-project/OpusTrainer/issues/38
#- Tags: 0.05
#  augment: 0.05
#  replace: 0.05
#  spm_vocab: <vocab>

seed: 1111
# parallel sentences + token alignments
num_fields: 3
